<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">



<meta>
<meta charset="UTF-8"></meta>
<title>Title</title>

<script src="/js2/layui/layui.js"></script>
<script src="/js2/jquery.min.js"></script>
<link rel="stylesheet" href="/js2/layui/css/layui.css" media="all">

</head>
<body>
<table id="demo" lay-filter="test"></table>

</body>
<script th:inline="none">

    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/getInst' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80,  fixed: 'left'}
                , {field: 'account', title: '机构账号', width: 100}
                , {field: 'instName', title: '机构名称', width: 100}
                , {field: 'email', title: '机构邮箱', width: 150}
                , {field: 'instInfo', title: '机构简介', width: 177}
                , {field: 'information', title: '机构详情', width: 177}
                , {field: 'start', title: '审核',
                    templet: function(obj){
                        if (obj.start == 1) {return '<font  class="layui-bg-orange"">未审核</font>';}
                        if (obj.start == 2) {return '<font class="layui-bg-green">审核通过</font>';}
                        if (obj.start == 3) {return '<font class="layui-bg-red">审核未通过</font>';}
                    },
                    width: 100}
                , {field: 'xxx', title: '操作',
                    templet: function(obj){
                        if (obj.start == 1) {return '<button type="button" class="layui-btn layui-btn-sm layui-btn-warm"><a href="javaScript:audit('+obj.id+')">待审核</a></button>';}
                        if (obj.start == 2) {return '<button type="button" class="layui-btn layui-btn-sm"><a href="javaScript:tongGuo()">审核通过</a></button>';}
                        if (obj.start == 3) {return '<button type="button" class="layui-btn layui-btn-sm layui-btn-danger"><a href="javaScript:audit('+obj.id+')">从新审核</a></button>';}
                    },
                    width: 120}
            ]],
            /*id: 'testReload',*/
            skin: 'row', //表格风格
            even: true, //隔行背景
            page: true, //是否显示分页
            limits: [6, 12, 18], //显示
            limit: 6, //每页默认显示的数量
            request: {
                page: 'pageNo', //页码的参数名称，默认：page
                limit: 'pageSize' //每页数据量的参数名，默认：limit
            }
        });
    });
    function audit(id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['840px', '480px'], //宽高
            content: '<div id="div"></div>'
        });
        $.ajax({
            url:'getInstById',
            data:{id:id},
            success:function (data) {
                var html = '<form class="layui-form" id="form">\n' +
                    '      <input type="hidden" name="id" value="'+data.id+'" readonly  lay-verify="readonly"  autocomplete="off" class="layui-input">\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">账号</label>\n' +
                    '    <div class="layui-input-inline">\n' +
                    '      <input type="text" name="account" value="'+data.account+'" readonly  lay-verify="readonly"  autocomplete="off" class="layui-input">\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">机构名称</label>\n' +
                    '    <div class="layui-input-inline">\n' +
                    '      <input type="text" name="instName" value="'+data.instName+'" readonly lay-verify="readonly"  autocomplete="off" class="layui-input">\n' +
                    '    </div>\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">机构邮箱</label>\n' +
                    '    <div class="layui-input-inline">\n' +
                    '      <input type="text" name="email" value="'+data.email+'" readonly lay-verify="readonly"  autocomplete="off" class="layui-input">\n' +
                    '    </div>\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">机构介绍</label>\n' +
                    '    <div class="layui-input-inline">\n' +
                    '      <input type="text" name="instInfo" value="'+data.instInfo+'" readonly lay-verify="readonly"  autocomplete="off" class="layui-input">\n' +
                    '    </div>\n' +


                    '  <div class="layui-form-item layui-form-text">\n' +
                    '    <label class="layui-form-label">机构介绍</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <textarea name="information"  placeholder="请输入内容" readonly lay-verify="readonly" class="layui-textarea">'+data.information+'</textarea>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '    <span id="span">' +

                    '</span>\n' +
                    '    <span id="span1">' +
                    '  <div class="layui-form-item">\n' +
                    '    <div  class="layui-input-block">\n' +
                    '      <center><button type="button" class="layui-btn" onclick="updataStart(2)">通过</button>\n' +
                    '      <button type="button" class="layui-btn layui-btn-danger" onclick="openText()">拒绝</button></center>\n' +


                    '</span>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</form>';
                $("#div").html(html);
            }
        })
    }

    function openText() {

        var html = '';
        var but = '';

            html+='  <div class="layui-form-item layui-form-text">\n' +
                '    <label class="layui-form-label">拒绝原因</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <textarea name="errorMsg"  placeholder="必填" class="layui-textarea"></textarea>\n' +
                '    </div>\n' +
                '  </div>\n' ;
            but +=  '</span>\n' +
                '  <div class="layui-form-item">\n' +
                '    <div  class="layui-input-block">\n' +
                '      <center><button type="button"  class="layui-btn" onclick="updataStart(3)">提交</button></center>\n' +
                '    </div>\n' +
                '  </div>\n' ;
        $("#span1").html("");

        $("#span").html(html);
        $("#span1").html(but);
    }
   /*
   * 通知 加 修改状态
   * */
    function updataStart(start) {
        $.ajax({
            url:'/updateInstStart?start='+start,
            type:'post',
            data:$("#form").serialize(),
            success:function (data) {
                layer.closeAll();
                layer.msg("操作成功");
                parent.location.reload();
                $.ajax({
                    url:'/sendInstStart?start='+start,
                    type:'post',
                    data:$("#form").serialize(),
                    success:function (data) {

                        layer.msg("邮件发送成功");


                    },
                    error:function () {
                        layer.msg("邮件发送失败");
                    }
                })
            },
            error:function () {
                layer.msg("操作失败");
            }
        })

    }
    function tongGuo() {
        layer.msg("审核已经通过");
    }
</script>
</html>